/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

@import "theme/animate";
//@import "theme/hover";


@import "animation/hover-min.css";
@import "animation/animate.min.css";

.cursor {
  cursor: pointer !important;
}

.fa-md {
  font-size: 1.3em !important;
}

.no-style {
  border: none !important;
  width: auto !important;
  margin: 0 !important;
  background: transparent !important;
}

