<div class="container">
  <h2>Demo: Audio Call - Outbound</h2>
  <ol>
    <li>
      <button id="connect" disabled>Server <span id="status"></span></button>
      with
      <code><span id="server"></span></code>
    </li>
    <li>
      <button id="call" disabled>Place Call</button>
      with
      <code><span id="target"></span></code>
    </li>
    <li>
      <button id="hangup" disabled>Hangup Call</button>
    </li>
    <!--<li>
      <button id="disconnect" disabled>Disconnect</button>
    </li>-->
  </ol>

  <!--<p>
    When the call is established, the remote audio is added to the following HTML5 audio element...
  </p>-->
  <audio id="remoteAudio" controls>
    <p>Your browser doesn't support HTML5 audio.</p>
  </audio>


  <!--<div>
    <p>
    While the call is established, DTMF may be sent using the following "keypad"...
  </p>
    <div class="dtmf">DTMF sent: <span id="dtmf"></span></div>
    <div>
      <button class="keypad" disabled>1</button>
      <button class="keypad" disabled>2</button>
      <button class="keypad" disabled>3</button>
    </div>
    <div>
      <button class="keypad" disabled>4</button>
      <button class="keypad" disabled>5</button>
      <button class="keypad" disabled>6</button>
    </div>
    <div>
      <button class="keypad" disabled>7</button>
      <button class="keypad" disabled>8</button>
      <button class="keypad" disabled>9</button>
    </div>
    <div>
      <button class="keypad" disabled>*</button>
      <button class="keypad" disabled>0</button>
      <button class="keypad" disabled>#</button>
    </div>
  </div>-->

  <p>
    While the call is established, the session may placed on hold or muted...
  </p>
  <div>
    <input type="checkbox" id="hold" name="hold" disabled>
    <label for="hold">Hold</label>
  </div>
  <div>
    <input type="checkbox" id="mute" name="mute" disabled>
    <label for="mute">Mute</label>
  </div>
</div>
